ion-content {
    --background: var(--ion-color-test2);

    ion-list {
        background: transparent;
    }

    ion-item {
        --background: transparent;

        ion-input {
            color: white;
            font-size: 20px;
        }
        ion-label{
            font-size: 20px;
color: white;
        }
    }
}

ion-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    --background: transparent !important;
}

ion-list {
    height: 100%;
}