.card {
    margin-top: 30px;

    .flip-container {
        perspective: 400px;
        margin: 0 auto 60px auto;
        width: 290px;
        height: 200px;
        border-radius: 15px;
        cursor: pointer;
    }

    .flip-container:hover .flipper {
        transform: rotateY(180deg);
        cursor: pointer;
    }

    .front {
        padding-top: 70px;
        width: 290px;
        height: 200px;
        border-radius: 15px;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        padding-left: 50px;

        h3 {
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
            margin: 0;
            font-size: 30px;
            text-shadow: 1px 1px 3px #333;
            color: white;

        }
    }

    .back {
        width: 290px;
        height: 200px;
        border-radius: 15px;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateY(180deg);
        text-align: center;
        font-family: "Poppins", sans-serif;
        color: white;

        h5 {
            text-align: center;
            margin-top: 20px;
            font-size: 35px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        ion-card-subtitle {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 40px;
            text-align: left;
            font-size: 25px;
        }
    }

    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }
}
