ion-button {
    display: flex;
    margin: auto;
    width: 50%;
 margin-top: 20px;
}
ion-card{
    top: 20%;
    margin: auto;
    width: 60%;
    background: var(--ion-color-test2);
    ion-card-title{
        color: white;
    }
    ion-item{
        --background:transparent;
ion-label{
    color: white;
}
        ion-input{
            color: white;
            --background:transparent;
        }
    }
    ion-button{
        --background: green;
    }
}
ion-content{
    --background: var(--ion-color-siyah-1);
}
@media screen and (max-width:801px) {
    ion-card{
        width: 100%;
    }
    
}
