ion-card {
    top: 20%;
    width: 50%;
    margin: auto;
}
ion-item{
    ion-label{
        color: white !important;
    }
}
ion-button {
    display: flex;
    margin: auto;
    width: 50%;
 margin-top: 20px;
}