ion-content{
    background: var(--ion-color-siyah-1);
    ion-toolbar{
        width: 100%;
        margin-top: -8px;
    --background: var(--ion-color-siyah-1);
    text-align: center;
    ion-title{
        margin-top: 15px;
        color: white;
    }
height: 63px;
    }
    ion-item{
        border-bottom: 1px solid black;
        --background: var(--ion-color-menu-color) !important;
    }
    --background: var(--ion-color-menu-color) !important;

}