
ion-segment{
    ion-icon{
color: white;
    }
    ion-label{
        color:white;
    }
}
ion-item{
    margin-top: 7.5px;
}
ion-toolbar{
    --background: transparent !important;
}
div{
    span{
        color: red;
    }
}
ion-button{
    margin-top: 15px;
}